<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="false"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Core">
            <file>tests/HtAccessTest.php</file>
            <file>tests/HtPasswdTest.php</file>
            <file>tests/CspTest.php</file>
            <file>tests/ContainerTest.php</file>
            <file>tests/DirectiveTest.php</file>
            <file>tests/IfModuleTest.php</file>
        </testsuite>
        <testsuite name="Container">
            <directory>tests/Container</directory>
        </testsuite>
        <testsuite name="Directive">
            <directory>tests/Directive</directory>
        </testsuite>
        <testsuite name="Module">
            <directory>tests/Module</directory>
        </testsuite>
        <testsuite name="Examples">
            <directory>tests/Examples</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

    <php>
        <ini name="memory_limit" value="256M"/>
        <ini name="error_reporting" value="E_ALL"/>
        <ini name="display_errors" value="On"/>
        <ini name="display_startup_errors" value="On"/>
    </php>
</phpunit>
